/.idea/modules.xml
/.idea/misc.xml
/.idea/workspace.xml
/out/

/.idea/compiler.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/target/classes/main/java/Account.class
/target/test-classes/main/java/AccountTest.class
/target/classes/main/java/Contact.class
/target/test-classes/main/java/ContactTest.class
/target/classes/main/java/CRMObject.class
/target/test-classes/main/java/CRMObjectTest.class
/target/classes/main/java/Industry.class
/target/classes/main/java/Lead.class
/target/test-classes/main/java/LeadTest.class
/target/classes/main/java/Lists.class
/target/test-classes/main/java/ListsTest.class
/target/classes/main/java/Main.class
/target/classes/main/java/Menu.class
/target/classes/main/java/Opportunity.class
/target/test-classes/main/java/OpportunityTest.class
/target/classes/main/java/Products.class
/target/classes/main/java/Status.class
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_6_3.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_6_3.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_6_3.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_6_3.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
